figcaption.wp-caption-text {
  text-align: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 32px;
}
.swiper-button-prev,.swiper-rtl .swiper-button-next {
  left: -2px;
}
.swiper-button-next {
  right: -2px;
}


